
.tab:selected {
    -fx-background-color: #9197ae;
}

.tab {
    -fx-background-color: #f02d3a;
}

.tab-pane {
    -fx-background-color: #9197ae;
}

.tab .tab-pane .tab-label {
	-fx-text-fill: #eff6ee;
}